<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://core-api-619357594029.asia-south1.run.app</string>
	<key>RegisterUserURL</key>
	<string>https://core-api-619357594029.asia-south1.run.app/v1/users/qr</string>
	<key>BearerToken</key>
	<string>actual_bearer_token_string</string>
	<key>IDToken</key>
	<string>eyJhbGciOiJSUzI1NiIsImtpZCI6IjFhYWMyNzEwOTkwNDljMGRmYzA1OGUwNjEyZjA4ZDA2YzMwYTA0MTUiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vcHJqLW0tdHJpbmdxci1hcHAiLCJhdWQiOiJwcmotbS10cmluZ3FyLWFwcCIsImF1dGhfdGltZSI6MTczNDQ0MzgzNSwidXNlcl9pZCI6Im9YZ2FYOVlGbTBQRDEzUXJMS0lVQUlCNWJLdDEiLCJzdWIiOiJvWGdhWDlZRm0wUEQxM1FyTEtJVUFJQjViS3QxIiwiaWF0IjoxNzM0NDQzODM1LCJleHAiOjE3MzQ0NDc0MzUsImVtYWlsIjoic3VwcG9ydEB0cmluZ2JveC5jb20iLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsImZpcmViYXNlIjp7ImlkZW50aXRpZXMiOnsiZW1haWwiOlsic3VwcG9ydEB0cmluZ2JveC5jb20iXX0sInNpZ25faW5fcHJvdmlkZXIiOiJwYXNzd29yZCJ9fQ.m9eZctd_xtHC404_HgzLudmh56AaDtUa_22D_P9sKr1_o0J1-hiMB2QenJiLtCNspZXvSr8SFP4oe2IBBISeGiKq5fMv-AGxcONqlW5cvBdpzj7LkaCVtpen4OOU8XTPn8_Po6-bDOfimh7UJVZDhl3qbhGEFD95lKuVZkNVlfrCmGxhsuAaiGBD5dBI4s7uq4Nmo7gRJzDjjpNPOAVJ-NE-WjN6G-9m_ZV-mgp9AhNb8_31K3dPiyA5ieyp0TPpB7LtMDqtV2hvY6JqTKVYKZE04k0Y46ogZBfTtyEkh_7YUzU-RBLdPWIOjhVSeHMoNE6QzZnPNVb9ytexdlYwgw</string>
	<key>NotificationID</key>
	<string>802a6eea-1ae2-4254-85fa-fd4b877c2dc3</string>
	<key>DeviceID</key>
	<string>123e4567-e89b-12d3-a456-426614174000</string>
</dict>
</plist>
