<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318092550249-hgnei1i74s09e859etljbo0qf5joa4gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318092550249-hgnei1i74s09e859etljbo0qf5joa4gt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>318092550249-03iji1nb5dn9su7fm26nhmlr3jbmr1c1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5ROStP9knQm0CxpOmgmAP2DG1yoKO1Nk</string>
	<key>GCM_SENDER_ID</key>
	<string>318092550249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tringbox.tringqr</string>
	<key>PROJECT_ID</key>
	<string>prj-m-tringqr-app</string>
	<key>STORAGE_BUCKET</key>
	<string>prj-m-tringqr-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:318092550249:ios:ae473cdeaea44f437042f8</string>
</dict>
</plist>
